a {
   color: #1e1e2e;
   text-decoration: none;
}
.header{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: fit-content;
   background-color: #ffffff;
   padding: 10px;
   z-index: 1000;
}
.text1 {
   text-align: center;
   font-family: Fantasy;
   font-size: 100px;
   font-weight: bold;
   display: flex;
   align-items: stretch;
}

.text1>* {
   flex: 1;
}

.search {
   display: flex;
   flex-direction: row-reverse;
   align-items: end;
}

.sections {
   display: flex;
   width: 100%;
   padding: 10px;
}

.sections button {
   flex-grow: 1;
}

.main {
   position: relative;
   top: 180px;
   display: flex;
   flex-direction: row;
   gap: 2px;
}

.main>:first-child {
   flex: 0.7;
}

.trump {
   text-align: left;
   font-family: Sans-serif;
   font-size: 48px;
}

.trump img {
   max-width: 100%;
   height: auto;
}

.table {
   flex: 0.3;
}

.vl {
   border-left: 2px solid darkslategray;
   min-height: 100%;
}

.newsbox {
   display: flex;
   flex-direction: column;
   font-size: 16pt;
   padding: 2pt;
   border: #000000;
   border-width: 2px;
   gap: 4px;
}

.newsbox img {
   width: 100%;
   max-width: 100%;
   height: auto;
}